apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "designate-certmanager-webhook.fullname" . }}
  labels:
    app: {{ include "designate-certmanager-webhook.name" . }}
    chart: {{ include "designate-certmanager-webhook.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "designate-certmanager-webhook.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "designate-certmanager-webhook.name" . }}
        release: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "designate-certmanager-webhook.fullname" . }}
      initContainers:
        - name: wait-for-tls-secret
          image: "{{ .Values.image.alpine.repository }}:{{ .Values.image.alpine.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          - name: certs
            mountPath: /tls
            readOnly: true
          command:
            - /bin/sh
          args:
            - -c
            - "while [ ! -f /tls/tls.key ]; do sleep 5; done"
        - name: add-apiservice
          image: "{{ .Values.image.kubectl.repository }}:{{ .Values.image.kubectl.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: apiservice-config
              mountPath: /config
              readOnly: true
          command:
            - kubectl
          args:
            - apply
            - -f
            - /config/apiservice.yaml
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --tls-cert-file=/tls/tls.crt
            - --tls-private-key-file=/tls/tls.key
          envFrom:
            - secretRef:
                name: {{ .Values.credentialsSecret }}
          ports:
            - name: https
              containerPort: 443
              protocol: TCP
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          volumeMounts:
            - name: certs
              mountPath: /tls
              readOnly: true
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: apiservice-config
          configMap:
            name: {{ include "designate-certmanager-webhook.fullname" . }}-apiservice
        - name: certs
          secret:
            optional: true
            secretName: {{ include "designate-certmanager-webhook.servingCertificate" . }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
